@model DTPortal.Web.ViewModel.PriceSlabDefinition.PriceSlabDefinitionEditViewModel

@using DTPortal.Web.Enums

@using DTPortal.Core.DTOs

<style>
    #note {
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
    }
</style>

@{
    ViewData["Title"] = "Edit";
    ViewData["ServiceId"] = Model.ServiceId;
}

@{
    await Html.RenderPartialAsync("_AlertBox");
}

<div class="row">
    <div class="col-md-12">
        <div class="card-custom">
            <div class="card-body">
                <form method="post" asp-action="Edit">
                    <div id="note">
                        <b>NOTE: </b> (*) Mark fields are mandatory.
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6" style="float:left;">
                            <input id="serviceId" asp-for="ServiceId" hidden />
                            <div class="form-group col-md-12">
                                <label asp-for="ServiceDisplayName" class="col-form-label"></label>
                                <input asp-for="ServiceDisplayName" class="form-control" readonly />
                                <span asp-validation-for="ServiceDisplayName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="Stakeholder" class="col-form-label"></label>
                                <input asp-for="Stakeholder" class="form-control" readonly />
                                <span asp-validation-for="Stakeholder" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-7">
                            <partial name="_DiscountVolumeRange" for="DiscountVolumeRanges" onchange=serviceId(@Model.ServiceId)></partial>
                            @*<partial name="_DiscountVolumeRange" for="DiscountVolumeRanges">*@
                          
                        </div>
                    </div>
                    <div class="d-flex justify-content-end ">
                        <button type="submit" class="btn btn-primary">Update</button>
                        &nbsp;&nbsp;
                        <a type="button" asp-action="List" class="btn btn-danger">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    var index;
    $(document).ready(function () {
        $('#priceModelMenu').addClass('active');
        $('#priceSlabDefinitionMenuItem').addClass('active');
        $('#genericPriceSlabDefinitionSidebarElement').addClass('active');

        $('#priceModel').addClass('show');
        $('#priceSlabDefinitionSubmenu').addClass('show');

        $("li#priceSlabDefinitionMenuItem a:first").attr('aria-expanded', 'true');
        $("li#genericPriceSlabDefinitionSidebarElement a:first").attr('aria-expanded', 'true');

        //if ($('#sidebar ul li.dropdown.active')) {
        //    $('#sidebar ul li.dropdown.active ul').addClass('show');
        //    $('#genericPriceSlabDefinitionMenuItem').addClass('active');
        //    $('#sidebar ul li.dropdown.active a.nav-link.drop-logo').attr('aria-expanded', 'true');
        //}

        /*For Beadcrum Start*/
        $('#homeMenu').addClass('breadcrumb-item').append('Price Model');
        $('#mainMenu').addClass('breadcrumb-item').append('Price Slabs');
        $('#subMenu').addClass('breadcrumb-item active').append('Generic Price Slab > Edit');
        /*For Beadcrum End*/

        index = $("#discountVolumeRangetbody").children("tr").length;
    });

    $(document).on("click", '.add-range', function ()
    {
        if (index >= 5)
        {
            swal({ type: 'error', title: "Error", text: "Max 5 records is allowed" });
            return;
        }

        let row = "";
        let isValid = true;

        let previousRow = $("#discountVolumeRangetbody").children("tr").eq(index - 1);
        let previousVolumeRangeFrom = +previousRow.find('td:eq(2) input').val();
        let previousVolumeRangeTo = +previousRow.find('td:eq(3) input').val();
        let previousDiscount = +previousRow.find('td:eq(4) input').val();

        if (previousVolumeRangeFrom <= 0)
        {
            +previousRow.find('td:eq(2) span').text("This field must be a number and greater than zero");
            isValid = false;
        }

        if (previousVolumeRangeTo <= 0)
        {
            +previousRow.find('td:eq(3) span').text("This field must be a number and greater than zero");
            isValid = false;
        }
        else if (previousVolumeRangeTo <= previousVolumeRangeFrom)
        {
            +previousRow.find('td:eq(3) span').text("Enter a value greater than volume range from");
            isValid = false;
        }

        let discount = $("input[name='DiscountVolumeRanges[" + (index - 1) + "].Discount']").val();
        if (discount == null || discount == "")
        {
            +previousRow.find('td:eq(4) span').text("This field must be a number and range from 0-99");
            isValid = false;
        }

        if (previousDiscount < 0 || previousDiscount > 99)
        {
            +previousRow.find('td:eq(4) span').text("This field must be a number and range from 0-99");
            isValid = false;
        }

        if (!isValid)
        {
            return;
        }

        let nextVolumeRangeTo = previousVolumeRangeTo + 1;

        row = "<tr>" +
                "<td style='display: none;'><input name='DiscountVolumeRanges.Index' value='" + index + "'/></td>" +
                "<td style='display: none;'><input name='DiscountVolumeRanges[" + index + "].Id' type='text' value='0'></td>" +
                "<td>" +
                    "<input type='number' class='required inputWidth' name='DiscountVolumeRanges["+index+"].VolumeRangeFrom' value='"+ (nextVolumeRangeTo) +"' readonly>"+
                    "<span class='text-danger field-validation-valid' data-valmsg-for='DiscountVolumeRanges["+index+"].VolumeRangeFrom' data-valmsg-replace='true'></span>"+
                "</td>"+
                "<td>" +
                "<input type='number' min=" + (nextVolumeRangeTo + 1) + " class='required inputWidth' name='DiscountVolumeRanges[" + index + "].VolumeRangeTo' value=''>" +
                    "<span class='text-danger field-validation-valid' data-valmsg-for='DiscountVolumeRanges["+index+"].VolumeRangeTo' data-valmsg-replace='true'></span>"+
                "</td>"+
                "<td>" +
                "<input type='number' min='0' max='99' class='required inputWidth' name='DiscountVolumeRanges[" + index + "].Discount' value='' style='width: 30%;'>" +
                    "<span class='text-danger field-validation-valid' data-valmsg-for='DiscountVolumeRanges["+index+"].Discount' data-valmsg-replace='true'></span>"+
                "</td>"+
                "<td>"+
                    "<div class='form-row'>"+
                        "<a class='btn btn-info add-range' style='margin-left:2px'>"+
                            "<i class='fa fa-plus'></i>"+
                        "</a>"+
                        "<a class='btn btn-tbl-delete delete-range' style='margin-left:2px'>"+
                            "<i class='fa fa-minus'></i>"+
                        "</a>"+
                    "</div>"+
                "</td>"+
            "</tr>";
            $("#discountVolumeRangetbody").append(row);
            previousRow.css({"pointer-events": "none", "opacity": "0.6"});
            previousRow.find('td:eq(5) div').children('a').eq(0).hide();
            index++;
    });

    $(document).on("click", '.delete-range', function ()
    {
        $("#discountVolumeRangetbody tr:eq("+ (--index) +")").remove();
        let previousRow = $("#discountVolumeRangetbody").children("tr").eq(index-1)
        previousRow.css({"pointer-events": "", "opacity": "1"});
        previousRow.find('td:eq(5) div').children('a').eq(0).show();
    });

    $(document).on('blur', '.inputWidth', function (e) {
            var VolumeRangeTo;
            var VolumeRangeFrom;
            var row = index-1;

            $(this).next("span").text("");

            id_arr = $(this).attr('name');
            id = id_arr.split(".");
            if (id[1] == "VolumeRangeFrom") {
                VolumeRangeTo = $('input[name="DiscountVolumeRanges[' + row + '].VolumeRangeTo"]').val();
                if ($(this).val() > parseInt(VolumeRangeTo)) {
                    e.preventDefault();
                    //$(this).val(VolumeRangeTo - 1);
                    $(this).next("span").text("Volume Range From cannot be greater than Volume Range To");
                }
                else{
                    $('input[name="DiscountVolumeRanges[' + row + '].VolumeRangeTo"]').next("span").text("");
                }
            }
            if (id[1] == "VolumeRangeTo") {
                VolumeRangeFrom = $('input[name="DiscountVolumeRanges[' + row + '].VolumeRangeFrom"]').val();
                if ($(this).val() < parseInt(VolumeRangeFrom)) {
                    e.preventDefault();
                    //$(this).val(parseInt(+VolumeRangeFrom + 1));
                    $(this).next("span").text("Volume Range To cannot be less than Volume Range From");
                }else{
                    $('input[name="DiscountVolumeRanges[' + row + '].VolumeRangeFrom"]').next("span").text("");
                }
            }
        });

        $(document).ready(function () {
            var serviceId = $("#serviceId").val();
            $("#discountVolumeRangetbody tr").each(function () {
                var volumeRangeFromInput = $("input[name='DiscountVolumeRanges[0].VolumeRangeFrom']");
                var volumeRangeToInput = $("input[name='DiscountVolumeRanges[0].VolumeRangeTo']");
                var discountInput = $("input[name='DiscountVolumeRanges[0].Discount']");

                if (serviceId == 6) {
                    discountInput.attr("min", 0);
                    discountInput.attr("max", 100);
                    volumeRangeToInput.attr("value", 1);
                    volumeRangeFromInput.attr("value", 1)
                    volumeRangeFromInput.prop("disabled", true);
                    volumeRangeToInput.prop("disabled", true);
                    $('.add-range').css("display", "none");
                }
                else {
                    discountInput.attr("min", 0);
                    discountInput.attr("max", 99);
                    volumeRangeFromInput.prop("disabled", false);
                    volumeRangeToInput.prop("disabled", false);
                    if (index == 1) {
                        $('.add-range').css("display", "block");
                    }
                }
            });
        });

</script>
}


