@model DTPortal.Web.ViewModel.UserDashboard.SequerityQuestionViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <noscript>Please enable java script in your browser.</noscript>
    <title>Set Security Question</title>
    <link rel="icon" type="image/x-icon" href="~/assets/fav04.png" />

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <script src="~/global_assets/js/main/jquery.min.js" asp-append-version="true"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/assets/appcss/RegistrationPage.css" asp-append-version="true">

</head>
<body>
    @{await Html.RenderPartialAsync("_AlertBox");}
    <section class="myform-area" style="background-image: url('@Url.Content("~/assets/NewLogo/PNG/UaeBackground.png")');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="form-area" id="AuthenticationProvision">
                        <div class="header">Set Security Question</div>
                        <div class="activationDiv" style="background-image: linear-gradient(to left bottom, rgba(255,255,255,1) 20%, rgba(255,255,255,0.4) 20%),url('assets/NewLogo/SVG/Gr.svg');">
                            <form id="securityQue" asp-action="SetSecurityQuestion">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group" hidden>
                                            <input asp-for="UserId" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Question1" class="col-form-label"></label>
                                            <select asp-for="Question1" class="form-control"
                                                    asp-items="@Model.SecurityQueList1"></select>
                                            <span asp-validation-for="Question1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Answer1" required />
                                            <label asp-for="Answer1" class="s3"></label>
                                            <span asp-validation-for="Answer1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Question2" class="col-form-label"></label>
                                            <select asp-for="Question2" class="form-control"
                                                    asp-items="@Model.SecurityQueList2"></select>
                                            <span asp-validation-for="Question2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">

                                            <input asp-for="Answer2" required />
                                            <label asp-for="Answer2" class="s3"></label>
                                            <span id='message'></span>
                                            <span asp-validation-for="Answer2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Question3" class="col-form-label"></label>
                                            <select asp-for="Question3" class="form-control"
                                                    asp-items="@Model.SecurityQueList3"></select>
                                            <span asp-validation-for="Question3" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">

                                            <input asp-for="Answer3" required />
                                            <label asp-for="Answer3" class="s3"></label>
                                            <span id='message'></span>
                                            <span asp-validation-for="Answer3" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="myform-button" style="margin-top: 30px">
                                    <div class="d-flex justify-content-end ">

                                        <button id="secQueBtn" class="myform-btn" type="submit" style="opacity: 0.5;" disabled>
                                            Save
                                        </button>

                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Dashboard');
            $('#mainMenu').addClass('breadcrumb-item active').append('Set Security Question');
            $('#subMenu').removeClass('breadcrumb-item');

                    $('#Question1, #Question2, #Question3').on('change', validateQuestions);
        $('#Answer1, #Answer2, #Answer3').on('change', validateQuestions);

        function validateQuestions() {
            var q1 = $('#Question1').val();
            var q2 = $('#Question2').val();
            var q3 = $('#Question3').val();

            if (q1 === q2 || q1 === q3 || q2 === q3) {
                $('#message').html('All security questions must be different').css('color', 'red');
                $('#secQueBtn').prop("disabled", true).css('opacity', '0.5');
            } else {
                $('#message').html('');
                $('#secQueBtn').prop("disabled", false).css('opacity', '1');
            }
        }


        });


    </script>
</body>

</html>