@model DTPortal.Web.ViewModel.SigningCredits.UpdateBucketViewModel
@{
    ViewData["Title"] = "Exclusive Apps";
}
<div class="row">
    <div class="col-md-12">
        <div class="card-custom">
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group" hidden>
                                <input asp-for="Id" class="form-control" />
                            </div>
                            <div class="form-group" hidden>
                                <input asp-for="status" class="form-control" />
                            </div>
                            <div class="form-group" hidden>
                                <input asp-for="OrgId" class="form-control" />
                            </div>
                            <div class="form-group" hidden>
                                <input asp-for="appId" class="form-control" />
                            </div>
                            <div class="form-group" hidden>
                                <input asp-for="AdditionalDs" class="form-control" />
                            </div>
                            <div class="form-group" hidden>
                                <input asp-for="AdditionalEDs" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="OrganizationName" class="col-form-label s3"></label>
                                <input asp-for="OrganizationName" class="form-control" readonly />
                                <span asp-validation-for="OrganizationName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApplicationName" class="col-form-label s3"></label>
                                <input asp-for="ApplicationName" class="form-control" readonly />
                                <span asp-validation-for="ApplicationName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="label" class="col-form-label s3"></label>
                                <input asp-for="label" class="form-control" readonly/>
                                <span asp-validation-for="label" class="text-danger"></span>
                            </div>


                        </div>
                    </div>
                    <div style="padding-right: 10px">
                        <div class="d-flex justify-content-end ">
                            <button type="button" class="btn btn-primary" onclick="CheckerAction(@ViewBag.ApprovalRecordID, true); return false;">
                                Approve
                            </button>
                            &nbsp; &nbsp;
                            <button type="button" class="btn btn-info" onclick="CheckerAction(@ViewBag.ApprovalRecordID,false); return false;">
                                Reject
                            </button>
                            &nbsp; &nbsp;
                            <a asp-action="Approvals" class="btn btn-danger">
                                Cancel
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $(document).ready(function () {
            $('#homeMenu').addClass('breadcrumb-item').append('Dashboard');
            $('#mainMenu').addClass('breadcrumb-item active').append('Approvals');
            $('#subMenu').addClass('breadcrumb-item active').append('Exclusive Apps');
        });

    </script>
}