@model DTPortal.Web.ViewModel.OrganizationPaymentHistory.OrganizationPaymentHistoryDetailsViewModel

@{
    ViewData["Title"] = "Organization Payment History Details";
}

@{
    await Html.RenderPartialAsync("_AlertBox");
}

<style>
    label {
        text-align: right;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card-custom">
            <div class=card-body>
                <form asp-action="Add" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group col-md-12">
                                <label>Organization Name</label>
                                <input asp-for="OrganizationPaymentHistory.OrganizationName" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Transaction Reference Id</label>
                                <input asp-for="OrganizationPaymentHistory.TransactionReferenceId" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Total Amount Paid</label>
                                <input asp-for="OrganizationPaymentHistory.TotalAmountPaid" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @*<div class="form-group col-md-12">
                                <label>Payment Info</label>
                                <input asp-for="OrganizationPaymentHistory.PaymentInfo" class="form-control" readonly />
                            </div>*@
                            <div class="form-group col-md-12">
                                <label>Payment Channel</label>
                                <input asp-for="OrganizationPaymentHistory.PaymentChannel" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Invoice Number</label>
                                <input asp-for="OrganizationPaymentHistory.InvoiceNumber" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div style="padding-right: 10px">
                        <div class="d-flex justify-content-end ">
                            <button type="button" class="btn btn-primary" onclick="CheckerAction(@ViewBag.ApprovalRecordID, true); return false;">
                                Approve
                            </button>
                            &nbsp; &nbsp;
                            <button type="button" class="btn btn-info" onclick="CheckerAction(@ViewBag.ApprovalRecordID,false); return false;">
                                Reject
                            </button>
                            &nbsp; &nbsp;
                            <a asp-action="Approvals" class="btn btn-danger">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    $(document).ready(function () {
        //$('#homeMenu').addClass('breadcrumb-item').append('Details');
        //$('#mainMenu').removeClass('breadcrumb-item');
        /*For Beadcrum End*/

        $('#dashboardMenu').addClass('active');

        /*For Beadcrum Start*/
        $('#homeMenu').addClass('breadcrumb-item').append('Dashboard');
        $('#mainMenu').addClass('breadcrumb-item active').append('Approvals');
        $('#subMenu').addClass('breadcrumb-item').append('Organization Payment > Details');
    });
</script>
}