@model DTPortal.Web.ViewModel.RateCard.RateCardAddViewModel
@using DTPortal.Web.Enums
@using DTPortal.Core.DTOs

@{
    ViewData["Title"] = "Add";
}

@{
    await Html.RenderPartialAsync("_AlertBox");
}

<div class="row">
    <div class="col-md-12">
        <div class="card-custom">
            <div class="card-body">
                <form method="post" asp-action="Add">
                    <div id="note">
                        <b>NOTE: </b> (*) Mark fields are mandatory.
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6" style="float:left;">                            
                            <div class="form-group col-md-12">
                                <label asp-for="Stakeholder" class="col-form-label"></label>
                                <select asp-for="Stakeholder" asp-items="Html.GetEnumSelectList<UserType>()" class="form-control">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="Stakeholder" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="FeePerTransaction" class="col-form-label"></label>
                                <input asp-for="FeePerTransaction" class="form-control" />
                                <span asp-validation-for="FeePerTransaction" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="RateEffectiveFrom" class="col-form-label"></label>
                                <input asp-for="RateEffectiveFrom" class="form-control datepicker" type="text" />
                                <span asp-validation-for="RateEffectiveFrom" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6" style="float:left;">                            
                            <div class="form-group col-md-12">
                                <label asp-for="ServiceId" class="col-form-label"></label>
                                <select asp-for="ServiceId" class="form-control">
                                    <option value="">select</option>
                                </select>
                                <span asp-validation-for="ServiceId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="Tax" class="col-form-label"></label>
                                <input asp-for="Tax" class="form-control" />
                                <span asp-validation-for="Tax" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end ">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        &nbsp;&nbsp;
                        <a type="button" asp-action="List" class="btn btn-danger">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="~/assets/css/jquery-ui.css" rel="stylesheet" type="text/css" asp-append-version="true"/>

@section Scripts {

    <script src="~/assets/js/jquery-1.12.4.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    @*<script src="~/js/RateCardValidity.js"></script>*@

<script>
    $(document).ready(function () {
        $('#priceModelMenu').addClass('active');
        $('#rateCardMenuItem').addClass('active');

        $('#priceModel').addClass('show');

        /*For Beadcrum Start*/
        $('#homeMenu').addClass('breadcrumb-item').append('Price Model');
        $('#mainMenu').addClass('breadcrumb-item').append('Rate Card');
        $('#subMenu').addClass('breadcrumb-item active').append('Add');
        /*For Beadcrum End*/

        $('#Stakeholder').on('change', function () {
            $('#ServiceId').empty();
            var value = $(this).val();
            if(value){            
            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("GetServiceDefinitions", "RateCard")',
                data: { value: value },
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $('#overlay').show();
                },
                complete: function () {
                    $('#overlay').hide();
                },
                success: function (response) {
                    var options = '';
                    options += '<option value="">Select</option>';
                    if(response){
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].id + '">' + response[i].serviceDisplayName + '</option>';
                    }
                    }
                    $('#ServiceId').append(options);
                    $('#ServiceId option[value="' + @Model.ServiceId + '"]').prop('selected', true)
                },
                error: ajaxErrorHandler,
                failure: function (response) {
                    swal({ type: 'error', title: "Error", text: "Failed to process your request" });
                }
            });
            }else{
                var options = '';
                    options += '<option value="">Select</option>';
                    $('#ServiceId').append(options);
            }
        });

        $('#Stakeholder').change();

            //$("#ServiceId").change(function () {
            //    $("#FeePerTransaction").next("span").text("");
            //    var serviceId = $(this).children(':selected').val();
                
            //    if(serviceId == 4 || serviceId == 5 || serviceId == 6){
            //        $("#FeePerTransaction").attr({
            //            "min" : 0
            //        });
            //    }
            //    else{
            //        $("#FeePerTransaction").attr({
            //            "min": 1
            //        });
            //    }
            //});

        var today = new Date();
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            minDate: 0,
            maxDate : new Date(today.getFullYear(), today.getMonth() + 3, today.getDate() - 1)
        });
    });
</script>
<style>
    #note {
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
    }
</style>
}


