ul.typeahead li a:hover {
    background-color: rgba(64, 74, 90, 1);
    color: black !important;
}

ul.typeahead li:hover {
    background-color: #f6f6f6;
    padding: 3px 0px;
}

    ul.typeahead.dropdown-menu {
        max-height: 360px;
        overflow-x: auto;
        overflow-y: hidden;
        right: 20px;
    }

ul.typeahead li a {
    font-size: 15px;
    padding: 5px 10px;
    display:initial;
}

.typeahead::-webkit-scrollbar {
    height: 5px;
}

.autoComplete_wrapper {
    position: relative;
    display: inline-block;
    width: 370px;
}

#serviceProviderName {
    height: 2rem;
    max-width: 256px;
    margin: 0;
    padding: 0 2rem 0 3.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1rem;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.7);
    outline: none;
    border-radius: 10rem;
    border: 0;
    border: 0.05rem solid rgba(0, 0, 0, 0.5);
    background-image: url(./images/search.svg);
    background-size: 1.4rem;
    background-position: left 1.05rem top 0.4rem;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #fff;
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
}

    #serviceProviderName::placeholder, #IdentifierValue::placeholder {
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
        -webkit-transition: all -webkit-transform 0.3s ease;
    }

    #serviceProviderName:hover::placeholder, #IdentifierValue:hover::placeholder {
        color: rgba(0, 0, 0, 0.6);
        transition: all 0.3s ease;
        -webkit-transition: all -webkit-transform 0.3s ease;
    }

    #serviceProviderName:focus::placeholder, #IdentifierValue:focus::placeholder {
        padding: 0.1rem 0.6rem;
        font-size: 0.95rem;
        color: rgba(0, 0, 0, 0.4);
    }

    #serviceProviderName:focus::selection, #IdentifierValue:focus::selection {
        background-color: rgba(0, 0, 0, 0.15);
    }

    #serviceProviderName::selection, #IdentifierValue::selection {
        background-color: rgba(0, 0, 0, 0.15);
    }

    #serviceProviderName:hover, #IdentifierValue:hover {
        color: rgba(0, 0, 0, 0.8);
        transition: all 0.3s ease;
        -webkit-transition: all -webkit-transform 0.3s ease;
    }

    #serviceProviderName:focus, #IdentifierValue:focus {
        color: rgba(0, 0, 0, 1);
        border: 0.06rem solid rgba(0, 0, 0, 0.8);
    }

#autoComplete_list {
    position: absolute;
    width: fit-content;
    padding: 0;
    margin-top: 2.6rem;
    margin-left: 1.8rem;
    border-radius: 0.6rem;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.07);
    z-index: 1000;
    outline: none;
}

.autoComplete_result {
    margin: 0.3rem;
    width: fit-content;
    /* padding: 0.3rem 0.5rem; */
    list-style: none;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    transition: all 0.1s ease-in-out;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
    padding: 10px 20px;
}

    .autoComplete_result::selection {
        color: rgba(#ffffff, 0);
        background-color: rgba(255, 255, 255, 0);
    }

    .autoComplete_result:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.15);
    }

.autoComplete_highlighted {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

    .autoComplete_highlighted::selection {
        color: rgba(#ffffff, 0);
        background-color: rgba(255, 255, 255, 0);
    }

.autoComplete_selected {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 600px) {
    .autoComplete_wrapper {
        width: 320px;
    }

    #serviceProviderName, #IdentifierValue {
        width: 18rem;
        background-size: 1.6rem;
        background-position: left 1.1rem top 0.75rem;
    }

    #autoComplete_list {
        margin: 10px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #serviceProviderName, #IdentifierValue {
        border-width: 1px;
    }
}

@-moz-document url-prefix() {
    #serviceProviderName, #IdentifierValue {
        background-size: 1.2rem;
        background-origin: border-box;
        border-width: 1px;
        background-position: left 1.1rem top 0.8rem;
    }
}
