@model IList<DTPortal.Web.ViewModel.OnboardingTemplate.OnboardingStepListItem>
@using DTPortal.Core.DTOs

<style>
    #onboardingStepsFieldset {
        padding: 25px;
        border: groove 2px;
        margin-bottom: 15px;
        overflow-y: auto;
        height: 300px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
</style>

<label class="col-form-label">Choose Onboarding Steps</label>
<fieldset id="onboardingStepsFieldset">
    <div>
        <ul style="list-style: none;">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li>
                    <input asp-for="@Model[i].Id" hidden />
                    <label>
                        <input type="checkbox" class="custom-check-box OnboardingSteps" asp-for="@Model[i].IsSelected" />@Model[i].DisplayName
                    </label>
                </li>
            }
        </ul>
    </div>
</fieldset>
