@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    overflow: auto;
    margin: 0;
}

* {
    margin: 0;
    padding: 0
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.625rem;
    margin-left: -.625rem;
}


.myform-area {
    overflow: auto;
    padding: 60px 0;
    background: #f4fffe;
    position: absolute;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    background-image: url('../../assets/NewLogo/PNG/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
}



    .myform-area .form-area {
        position: relative;
        text-align: center;
        background: rgba(255, 255, 255, 1);
        width: 100%;
        height: 400px;
        padding: 0px 10px 40px 10px;
        overflow: hidden;
        box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%);
        border: solid;
        border-color: rgba(255, 222, 173, 0);
        border-radius: 24px;
        background-image: url('../../assets/NewLogo/PNG/HomeBackGround.png');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position-x: left;
        background-position-y: bottom;
    }

        .myform-area .form-area svg {
            margin: auto;
            margin-top: 30px;
            margin-bottom: 10px;
            height: 100px;
            width: 100px;
        }

    .myform-area .footer {
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        font-family: Lato-Bold, Lato;
        color: rgba(64, 64, 64, 1);
    }

        .myform-area .footer img {
            height: 30px;
        }

.Pagefooter {
    position: absolute;
    bottom: 15px;
    right: 30px;
}

    .Pagefooter img {
        height: 25px;
    }


.error {
    padding: 5px;
    margin: 5px 0px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    font-family: Lato-Bold, Lato;
    color: rgba(64, 64, 64, 1);
}

.error_desc {
    padding: 5px;
    margin: 5px 0px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    font-family: Lato-Bold, Lato;
    color: rgba(64, 64, 64, 1);
}


.myform-area .form-area .myform-button {
    margin-top: 30px;
    text-align: center;
}

    .myform-area .form-area .myform-button .myform-btn {
        width: auto;
        font-size: 17px;
        background: #ACC43D;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 10px;
        color: #fff;
        outline: none !important;
        cursor: pointer;
        text-transform: uppercase;
        font-style: normal;
        box-sizing: border-box;
        box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

        .myform-area .form-area .myform-button .myform-btn:hover {
            box-shadow: 0px 0px 10px 0px rgb(8 7 7);
        }


@media only screen and (max-height: 500px) {
    .myform-area {
        height: auto;
    }

        .myform-area .form-area .form-content img {
            height: 75%;
            width: 100%;
        }
}

@media only screen and (max-width: 500px) {
    .myform-area {
        background-repeat: round;
    }

        .myform-area .form-area {
            height: auto;
        }


            .myform-area .form-area svg {
                height: 60px;
                width: 60px;
            }

        .myform-area .footer img {
            height: 20px;
        }

    .Pagefooter img {
        height: 15px;
    }


    .error {
        font-size: 14px;
    }

    .error_desc {
        font-size: 14px;
    }

    .myform-area .form-area .myform-button .myform-btn {
        font-size: 10px;
        padding: 10px 10px;
    }
}
