@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    overflow: auto;
    margin: 0;
}

* {
    margin: 0;
    padding: 0
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.625rem;
    margin-left: -.625rem;
}

a, a:hover {
    text-decoration: none;
}

.form-control:focus {
    border-color: rgb(191 208 31);
    box-shadow: 0 0 0 0.2rem rgb(191 208 31 / 25%);
}
.input-box {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgb(191 208 31);
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
}

    .input-box .toggle-password {
        font-weight: 300;
        font-size: 15px;
        margin-right: 5px;
        padding: 0px 16px 0px 0px;
    }

    .input-box input {
        flex-grow: 1;
        font-size: 14px;
        background: #fff;
        border: none;
        outline: none;
        padding: 0.5rem;
    }


.myform-area {
    overflow: auto;
    padding: 60px 0;
    background: #f4fffe;
    position: absolute;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    background-image: url('../../assets/NewLogo/PNG/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
}



    .myform-area .form-area {
        position: relative;
        background: rgba(255, 255, 255, 1);
        width: 100%;
        height: 470px;
        padding-bottom: 40px;
        overflow: hidden;
        box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%);
        border: solid;
        border-color: rgba(255, 222, 173, 0);
        border-radius: 24px;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left bottom, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 30%),url('../../assets/NewLogo/PNG/Group_11.png');
        background-size: 80%;
        background-position-x: left;
        background-position-y: bottom;
    }

        .myform-area .form-area .header {
            padding: 20px 20px 10px 20px;
            font-weight: 700;
            text-align: center;
            font-family: MongolianBaiti, Mongolian Baiti;
            font-size: 25px;
            color: #ACC43D;
        }

        .myform-area .form-area .activationDiv {
            margin: auto;
            padding: 20px;
            width: 80%;
        }
  

div#errorPage.form-area {
    height: 400px;
}

div#AuthenticationProvision.form-area {
    height: 500px;
}

div#ResetPassword.form-area {
    height: auto;
    padding-bottom: 10px;
}
.myform-area .form-area svg {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
}

        .myform-area .form-area .form-content,
        .myform-area .form-area .form-input {
            position: relative;
            width: 50%;
            height: 100%;
            float: left;
        }

        .myform-area .form-area .form-content {
            width: 50%;
            padding: 40px 10px;
        }

            .myform-area .form-area .form-content img {
                height: 95%;
                display: block;
                width: 75%;
                margin: auto;
                margin-top: 20px;
            }

            .myform-area .form-area .form-content h2 {
                color: #fff;
            }

            .myform-area .form-area .form-content p {
                color: #fff;
            }

            .myform-area .form-area .form-content ul {
                margin-top: 50px;
            }

                .myform-area .form-area .form-content ul li {
                    display: inline-block;
                    margin-right: 10px;
                }

            .myform-area .form-area .form-content a i {
                margin-right: 10px;
            }

        .myform-area .form-area .form-input {
            position: relative;
            overflow: hidden;
        }

        .myform-area .form-area .form-input {
            width: 50%;
            padding: 60px 30px 40px 10px
        }

div#USER.form-input {
    padding: 80px 30px 40px 10px;
}



.myform-area .form-area .form-input h1 {
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    font-family: MongolianBaiti, Mongolian Baiti;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .activationDiv input {
    position: relative;
    height: 40px;
    padding: 20px 0;
}

.myform-area .form-area .form-input textarea {
    height: 120px;
    padding: 20px 0;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea,
.myform-area .form-area .activationDiv input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 10px;
    border-bottom: 1px solid rgb(191 208 31);
    color: #07315B;
}

.myform-area .form-area .activationDiv #ChangePwd input {
    border-bottom: none;
}

.myform-area .form-area .form-input form .form-group,
.myform-area .form-area .activationDiv form .form-group {
    position: relative;
    margin-right: 5px;
}

div#pwd.form-group {
    position: relative;
    margin-top: 2rem;
}

.myform-area .form-area .form-input form .form-group label,
.myform-area .form-area .activationDiv form .form-group label.s3 {
    position: absolute;
    text-transform: capitalize;
    top: 10px;
    left: 0;
    margin-left: 10px;
    pointer-events: none;
    white-space: nowrap;
    font-size: 16px;
    color: #59595985;
    margin-bottom: 0;
    transition: all .6s;
}

.myform-area .form-area .activationDiv form#ChangePwd .form-group label.s3 {
    top: unset;
    bottom: 10px;
}

.myform-area .form-area .form-input input:focus ~ label,
.myform-area .form-area .activationDiv input:focus ~ label.s3,
.myform-area .form-area .form-input textarea:focus ~ label,
.myform-area .form-area .form-input input:valid ~ label,
.myform-area .form-area .activationDiv input:valid ~ label.s3,
.myform-area .form-area .form-input textarea:valid ~ label {
    top: -5px;
    opacity: 0;
    left: 0;
    color: rgba(103,58,183);
    font-size: 12px;
    color: #07315B;
    font-weight: bold;
}

.myform-area .form-area .activationDiv .col-form-label {
    font-family: MongolianBaiti, Mongolian Baiti;
    font-size: 20px;
    font-weight: 600;
}

.myform-area .form-area .form-input input:focus,
.myform-area .form-area .activationDiv input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .activationDiv input:valid,
.myform-area .form-area .form-input textarea:valid {
    border-bottom: 1px solid rgb(191 208 31);
}

.myform-area .form-area .form-text {
    margin-top: 30px;
}

    .myform-area .form-area .form-text span a {
        color: rgba(103,58,183);
    }

.myform-area .form-area .myform-button {
    margin-top: 30px;
    text-align: center;
}

    .myform-area .form-area .myform-button .myform-btn {
        width: auto;
        font-size: 17px;
        background: #ACC43D;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 10px;
        color: #fff;
        outline: none !important;
        cursor: pointer;
        text-transform: uppercase;
        font-style: normal;
        box-sizing: border-box;
        box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

        .myform-area .form-area .myform-button .myform-btn:hover {
            box-shadow: 0px 0px 10px 0px rgb(8 7 7);
        }


.myform-area .footer {
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: Lato-Bold, Lato;
    color: rgba(64, 64, 64, 1);
}

    .myform-area .footer img {
        height: 30px;
    }

.Pagefooter {
    position: absolute;
    bottom: 15px;
    right: 30px;
}

    .Pagefooter img {
        height: 25px;
    }

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}


.sweet-alert {
    border-radius: 20px !important;
    max-width: 478px !important;
}

swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}

.sweet-alert button.confirm {
    background-color: #ACC43D !important;
    color: black !important;
}

.sweet-alert button.cancel {
    background-color: #cccbce !important;
    color: black !important;
}

.sweet-alert button.confirm:hover {
    background-color: #ACC43D !important;
    color: black;
}

.sweet-alert button.cancel:hover {
    background-color: #cccbce !important;
    color: black;
}

.sweet-alert h2 {
    color: #413737 !important;
    margin: 15px 0 !important;
}

.sweet-alert .sa-icon {
    margin: 0px auto !important;
}

.sweet-alert p {
    color: black !important;
    font-size: 18px !important;
    text-align: center;
    font-weight: 500 !important;
    font-family: auto !important;
    line-height: unset !important;
}

.danger {
    text-align: left;
    color: red;
    padding: 0px;
    margin: 0px;
    width: auto;
    font-family: Century Gothic;
    font-style: normal;
    font-size: 2.5vh;
}

.myform-area .form-area #USER .danger {
    padding: 10px 0px;
}

.info {
    text-align: left;
    color: #1372aa;
    padding: 0px;
    margin: 0px;
    width: auto;
    font-family: Century Gothic;
    font-style: normal;
    font-size: 2.5vh;
}

.myform-area .form-area #USER .info {
    padding: 10px 0px;
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

#overlay1 {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.2);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

.spinner1 {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: src 0.8s infinite linear;
}

.NotificationCode {
    font-weight: 500;
    background-color: #ACC43D;
    font-size: 30px;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%);
}

#timerDiv {
    justify-content: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 5px;
}

#timer {
    color: #8ab20a;
    padding: 0px 5px;
    font-size: 15px;
}

.info-details {
    width: 100%;
    text-align: center;
    display: inline-grid;
}


.info-title {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
}

.infoMSG {
    font-size: 16px;
    font-weight: 400;
}

.info-logo-img {
    width: 75px;
    height: 20px;
    margin-bottom: 5px;
}

.pushNotificationDiv {
    text-align: center;
    margin-bottom: 20px;
}

.welcome {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: MongolianBaiti, Mongolian Baiti;
    margin-top: 10px;
    text-align: center;
}



.error {
    padding: 5px;
    margin: 5px 0px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    font-family: Lato-Bold, Lato;
    color: rgba(64, 64, 64, 1);
}

.error_desc {
    padding: 5px;
    margin: 5px 10px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    font-family: Lato-Bold, Lato;
    color: rgba(64, 64, 64, 1);
}

#registerBtnGroup {
    display: inline-flex;
}

    #registerBtnGroup .myform-btn {
        margin-bottom: 10px;
    }

        #registerBtnGroup .myform-btn#cancel {
            background-color: indianred;
            margin-left: 10px;
        }

@media only screen and (max-height: 500px) {
    .myform-area {
        height: auto;
    }

        .myform-area .form-area .form-content img {
            height: 75%;
            width: 100%;
        }
}

@media only screen and (max-width: 500px) {
    .myform-area {
        background-repeat: round;
    }

        .myform-area .form-area {
            height: auto;
        }

    div#AuthenticationProvision.form-area {
        height: 350px;
    }

    div#ResetPassword.form-area {
        height: auto;
        padding-bottom: 10px;
    }

    div#errorPage.form-area {
        height: auto;
    }
    .myform-area .form-area .activationDiv {
        padding: 10px;
    }

            .myform-area .form-area svg {
                height: 60px;
                width: 60px;
            }

            .myform-area .form-area .form-content {
                width: 48%;
                padding: 20px 5px;
            }

                .myform-area .form-area .form-content img {
                    height: 160px;
                    width: 140px;
                    margin-top: 25px;
                }


   

    .myform-area .form-area .form-input {
        padding: 40px 10px;
    }

    div#USER.form-input {
        padding: 45px 5px 40px 0px;
    }

    div#Register.form-input {
        padding: 45px 5px 40px 0px;
        text-align:center
    }
    div#PASSWORD.form-input {
        padding: 40px 5px 20px 5px;
    }

    div#PUSH_NOTIFICATION.form-input {
        padding: 30px 5px 10px 0px;
    }

    .myform-area .form-area .form-input form .form-group {
        margin-right: 0px;
    }
    .myform-area .form-area .form-input#PASSWORD input {
        height: 30px;
        padding: 10px 0;
    }
    .myform-area .form-area .form-input#PUSH_NOTIFICATION input {
        height: 20px;
        padding: 0 0 10px 0;
    }
    .myform-area .form-area .form-input input, .myform-area .form-area .form-input textarea {
        padding-left: 0px
    }

    .myform-area .form-area .form-input form .form-group label {
        font-size: 10px;
        top: 15px;
        margin-left: 0px;
    }
    .myform-area .form-area .activationDiv form .form-group label.s3 {
        font-size: 10px;
        top: 5px;
        margin-left: 0px;
    }
    .myform-area .form-area .form-input form .form-group#pwd label { 
       font-size: 12px;
       top :10px;
    }
    div#pwd.form-group {
       position: relative;
       margin-top: 1rem;
    }

    div#PUSH_NOTIFICATION.form-group {
        margin-bottom: 0.5rem;
    }

    .myform-area .form-area .form-input#Register form .form-group {
        margin-bottom: 0px;
    }

    .myform-area .form-area .form-input h1 {
        font-size: 1.5rem;
        padding: 0px;
        margin-bottom: 0px;
    }

    div#Register.form-input h1 {
        font-size: 1rem;
        padding: 0px;
        margin-bottom: 0px;
    }
    .myform-area .form-area .myform-button .myform-btn {
        font-size: 10px;
        padding: 10px 10px;
    }

    .myform-area .form-area .header {
        font-weight: 500;
        font-size: 18px;
    }
    .myform-area .form-area .activationDiv form .form-group {
        position: relative;
        margin-right: 0px; 
    }
    .input-box .toggle-password {
        font-weight: 300;
        font-size: 10px;
         margin-right: 0px;
        padding: 0px 16px 0px 0px;
    }
    .myform-area .form-area .activationDiv form#ChangePwd .form-group label.s3 {
        bottom: 5px;
    }
    .myform-area .form-area .activationDiv .col-form-label {
        font-size: 12px;
        padding-top: 0px;
    }
    .form-group {
        margin-bottom: 0.5rem;
    }
    #message {
        font-size: 10px;
    }

    .myform-area .form-area .activationDiv input {
        position: relative;
        height: 20px;
        padding: 10px 0;
    }
    .myform-area .form-area .activationDiv select {
        height: 30px;
        font-size: 10px;
        width: auto;
    }
    .myform-area .form-area .activationDiv options {
        width: 100%;
    }
    .z_co_dropdown {
        width: 120px !important;
    }
    .myform-area .footer img {
        height: 20px;
    }

    .Pagefooter img {
        height: 15px;
    }

    .pushNotificationDiv {
        margin-bottom: 10px;
    }

    .NotificationCode {
        font-size: 15px;
    }

    button, input, optgroup, select, textarea {
        font-size: smaller;
    }

    #timerDiv {
        font-size: 11px;
    }

    #timer {
        font-size: 11px;
    }

    .info-title {
        font-size: 11px;
    }

    .infoMSG {
        font-size: 12px;
    }

    .info-logo-img {
        width: 50px;
        height: 15px;
    }

    .danger {
        font-size: 11px;
    }
    #PASSWORD .danger {
        padding: 3px;
    }
    .info {
        font-size: 11px;
    }

    .welcome {
        font-weight: 500;
        font-size: 11px;
    }


    .sweet-alert {
    border-radius: 20px !important;
    max-width: 478px !important;
}

swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}

    .sweet-alert button.confirm {
        background-color: #ACC43D !important;
        color: black !important;
        padding: 7px 25px;
        font-size: 13px;
    }

    .sweet-alert button.cancel {
        background-color: #cccbce !important;
        color: black !important;
        padding: 7px 25px;
        font-size:13px;
    }

.sweet-alert button.confirm:hover {
    background-color: #ACC43D !important;
    color: black;
}

.sweet-alert button.cancel:hover {
    background-color: #cccbce !important;
    color: black;
}

    .sweet-alert h2 {
        color: #413737 !important;
        font-size: 22px;
        margin: 15px 0 !important;
    }

.sweet-alert .sa-icon {
    margin: 0px auto !important;
}

.sweet-alert p {
    color: black !important;
    font-size: 15px !important;
    text-align: center;
    font-weight: 500 !important;
    font-family: auto !important;
    line-height: unset !important;
}

.error {
        font-size: 14px;
}

    .error_desc {
        font-size: 14px;
    }



    #registerBtnGroup {
        display: inline-grid;
    }

        #registerBtnGroup .myform-btn {
            margin-bottom: 10px;
            padding:5px 10px;
        }
    .myform-area .form-area .activationDiv #ChangePwd .myform-button {
        margin-top: 20px !important;
    }
            #registerBtnGroup .myform-btn#cancel {
                background-color: indianred;
                margin-left: 0px;
            }

}

@media only screen and (max-width: 320px) {
    .myform-area .form-area .form-content img {
        height: 150px;
        width: 120px;
        margin-top: 30px;
    }
    .info-title {
        font-size: 10px;
    }

    .infoMSG {
        font-size: 11px;
    }
}

    @keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }
