@model DTPortal.Web.ViewModel.Saml2Clients.Saml2ClientsNewViewModel

@{
    ViewData["Title"] = "Saml2 New";
}

@{await Html.RenderPartialAsync("_AlertBox");}

<div class="row">

    <div class="col-md-12">
        <div class="card-custom">
            <!-- <div class="card-header">
                                <h5 class="card-title">Form row</h5>
                                <h6 class="card-subtitle text-muted">Bootstrap column layout.</h6>
                            </div> -->
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Save">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label asp-for="ApplicationType" class="col-form-label"></label>
                                <select asp-for="ApplicationType" class="form-control"
                                        asp-items="Model.ApplcationTypeList">
                                </select>
                                <span asp-validation-for="ApplicationType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApplicationName" class="col-form-label"></label>
                                <input asp-for="ApplicationName" class="form-control" />
                                <span asp-validation-for="ApplicationName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApplicationUrl" class="col-form-label"></label>
                                <input asp-for="ApplicationUrl" class="form-control" />
                                <span asp-validation-for="ApplicationUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="entityID" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext" style="margin-bottom: 0px;">The application-defined unique identifier that is the intended audience of the SAML assertion. This is most often the SP Entity ID of your application.</div>
                                <input asp-for="entityID" class="form-control" />
                                <span asp-validation-for="entityID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="assertionConsumerServiceUrl" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">The location where the SAML assertion is sent with a HTTP POST.</div>
                                <input asp-for="assertionConsumerServiceUrl" class="form-control" />
                                <span asp-validation-for="assertionConsumerServiceUrl" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="nameIDFormat" class="col-form-label"></label>
                                <select asp-for="nameIDFormat" class="form-control"
                                        asp-items="Model.nameIDFormatList">
                                </select>
                                <span asp-validation-for="nameIDFormat" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="singleLogoutService" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">provide url for send logout responce</div>
                                <input asp-for="singleLogoutService" class="form-control" />
                                <span asp-validation-for="singleLogoutService" class="text-danger"></span>
                            </div>

                            @*<div class="form-group">
                                <label asp-for="authnRequestsSigned" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select signed for login request signed purpose</div>
                                <select asp-for="authnRequestsSigned" class="form-control"
                                        asp-items="Model.list">
                                </select>
                                <span asp-validation-for="authnRequestsSigned" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="wantLogoutRequestSigned" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select signed if you want logout request signed from idp</div>
                                <select asp-for="wantLogoutRequestSigned" class="form-control"
                                        asp-items="Model.list">
                                    <option>--select--</option>
                                </select>
                                <span asp-validation-for="wantLogoutRequestSigned" class="text-danger"></span>
                            </div>*@


                        </div>
                        <div class="form-group col-md-6">

                            <div class="form-group">
                                <label asp-for="RequestSigned" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select signed if you want the signed message from idp</div>
                                <select asp-for="RequestSigned" class="form-control"
                                        asp-items="Model.list">
                                </select>
                                <span asp-validation-for="RequestSigned" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ResponceSigned" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select signed if you want to send logout response signed to idp</div>
                                <select asp-for="ResponceSigned" class="form-control"
                                        asp-items="Model.list">
                                </select>
                                <span asp-validation-for="ResponceSigned" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="assertionSignature" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select signed to enable signing request using ceritificate</div>
                                <select asp-for="assertionSignature" class="form-control"
                                        asp-items="Model.list">
                                </select>
                                <span asp-validation-for="assertionSignature" class="text-danger"></span>
                            </div>

                            <div class="form-group signing">
                                <label asp-for="signingCert" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">upload certificate for request signing purpose</div>
                                <input asp-for="signingCert" type="file" accept=".crt,.cer" class="form-control" />
                                <span asp-validation-for="signingCert" class="text-danger"></span>
                            </div>
                            @*<div class="form-group signing">
                                <label asp-for="requestSignatureAlgorithm" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select alogorithm for signing request</div>
                                <select asp-for="requestSignatureAlgorithm" class="form-control"
                                        asp-items="Model.requestSignatureAlgorithmList">
                                </select>
                                <span asp-validation-for="requestSignatureAlgorithm" class="text-danger"></span>
                            </div>*@
                            @*<div class="form-group">
                                <label asp-for="assertionEncryption" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select signed to enable encrypt request</div>
                                <select asp-for="assertionEncryption" class="form-control"
                                        asp-items="Model.elist">
                                </select>
                                <span asp-validation-for="assertionEncryption" class="text-danger"></span>
                            </div>
                            <div class="form-group encryptOption">
                                <label asp-for="encryptCert" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">upload certificate for request encryption purpose</div>
                                <input asp-for="encryptCert" type="file" class="form-control" />
                                <span asp-validation-for="encryptCert" class="text-danger"></span>
                            </div>*@
                            @*<div class="form-group encryptOption">
                                <label asp-for="dataEncryptionAlgorithm" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select algorithm for request data encryption purpose</div>
                                <select asp-for="dataEncryptionAlgorithm" class="form-control"
                                        asp-items="Model.dataEncryptionAlgorithmList">
                                    <option>--select--</option>
                                </select>
                                <span asp-validation-for="dataEncryptionAlgorithm" class="text-danger"></span>
                            </div>
                            <div class="form-group encryptOption">
                                <label asp-for="keyEncryptionAlgorithm" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select algorithm for request encryption purpose</div>
                                <select asp-for="keyEncryptionAlgorithm" class="form-control"
                                        asp-items="Model.keyEncryptionAlgorithmList">
                                    <option>--select--</option>
                                </select>
                                <span asp-validation-for="keyEncryptionAlgorithm" class="text-danger"></span>
                            </div>*@

                                                @*<div class="form-group messageOrder">
                                <label asp-for="messageSigningOrder" class="col-form-label"></label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">Select the message signing order from idp</div>
                                <select asp-for="messageSigningOrder" class="form-control"
                                        asp-items="Model.messageSigningOrderList">
                                </select>
                                <span asp-validation-for="messageSigningOrder" class="text-danger"></span>
                            </div>*@

                        </div>
                    </div>
                    <div style="padding-right: 10px">
                        <div style="float: left;">
                            <b>NOTE: </b>(*) Mark fields are mandatory.
                        </div>
                        <div class="d-flex justify-content-end ">
                            <button class="btn btn-primary" type="submit">
                                Save
                            </button>
                            &nbsp;&nbsp;

                            <a asp-action="List" class="btn btn-danger">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>

    .message {
        display: none;
    }

    .messageOrder {
        display: none;
    }
    .signing {
        display: none;
    }
    .encryptOption {
        display: none;
    }

    i {
        color: #808080e0;
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        float: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        margin-bottom: 35px;
        margin-top: -60px;
    }
    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        margin-bottom: 0px;
        margin-top: -60px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .popup:hover + .popuptext {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $('#digitalAuthSidebarElement').addClass('active');
            $('#OauthSamlSidebarElement').addClass('active');
            $('#SAMLSidebarElement').addClass('active');

            $('#homeSubmenu').addClass('show');
            $('#OauthSamlSubmenu').addClass('show');

            $("li#digitalAuthSidebarElement a:first").attr('aria-expanded', 'true');
            $("li#OauthSamlSidebarElement a:first").attr('aria-expanded', 'true');

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Digital Authentication');
            $('#mainMenu').addClass('breadcrumb-item active').append('Service Providers > SAML2 > Add');
            $('#subMenu').removeClass('breadcrumb-item');

            var authnRequestsSigned = document.getElementById("RequestSigned");
            var authnResponseSigned = document.getElementById("ResponceSigned");
            var assertionSignature = document.getElementById("assertionSignature");
            //var assertionEncryption = document.getElementById("assertionEncryption");

            authnRequestsSigned.addEventListener("change", showSigningOption);
            authnResponseSigned.addEventListener("change", showSigningOption);
            assertionSignature.addEventListener("change", showSigningOption);
            //assertionEncryption.addEventListener("change", showSigningOption);

            function showSigningOption() {
                var isauthnRequestsSigned = authnRequestsSigned.options[authnRequestsSigned.selectedIndex].text;
                var isauthnResponseSigned = authnResponseSigned.options[authnResponseSigned.selectedIndex].text;
                var isassertionSignature = assertionSignature.options[assertionSignature.selectedIndex].text;
               // var isassertionEncryption = assertionEncryption.options[assertionEncryption.selectedIndex].text;

                if (isauthnRequestsSigned == "Unsigned" && isassertionSignature == "Unsigned" && isauthnResponseSigned == "Unsigned") {
                    $(".signing").hide();
                }
                else {
                    $(".signing").show();
                }

                //if (isassertionEncryption == "Unencrypted") {
                //    $(".encryptOption").hide();
                //}
                //else {
                //    $(".encryptOption").show();
                //}

                //if (isassertionSignature == "Signed" && isassertionEncryption == "Encrypted") {
                //    $(".messageOrder").show();
                //}
                //else {
                //    $(".messageOrder").hide();
                //}


                //if (iswantMessageSigned == "false") {
                //    $(".messageOrder").hide();
                //}
                //else {
                //    $(".messageOrder").show();
                //}
            }

            //$("#assertionEncryption").change(function () {
            //    var val = document.getElementById("assertionEncryption").value
            //    if (val == "true") {
            //        document.getElementById("encryptCert").disabled = false;
            //        document.getElementById("dataEncryptionAlgorithm").disabled = false;
            //        document.getElementById("keyEncryptionAlgorithm").disabled = false;
            //        document.getElementById("encryptCert").required = true;
            //        document.getElementById("dataEncryptionAlgorithm").required = true;
            //        document.getElementById("keyEncryptionAlgorithm").required = true;
            //    }
            //    else {
            //        document.getElementById("encryptCert").disabled = true;
            //        document.getElementById("dataEncryptionAlgorithm").disabled = true;
            //        document.getElementById("keyEncryptionAlgorithm").disabled = true;
            //        document.getElementById("encryptCert").required = false;
            //        document.getElementById("dataEncryptionAlgorithm").required = false;
            //        document.getElementById("keyEncryptionAlgorithm").required = false;
            //    }
            //});

            //$("#wantMessageSigned").change(function () {
            //    var val = document.getElementById("wantMessageSigned").value
            //    if (val == "true") {
            //        document.getElementById("messageSigningOrder").disabled = false;
            //        document.getElementById("messageSigningOrder").required = true;
            //    }
            //    else {
            //        document.getElementById("messageSigningOrder").disabled = true;
            //        document.getElementById("messageSigningOrder").required = false;
            //    }
            //});
        });
    </script>
}